@model dynamic

@{
    ViewBag.Title = "知识库首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="margin-top: 60px;border: 1px solid red;">
    <div class="row">
        <div class="col-md-2">fdas</div>
        <div class="col-md-7">fdas</div>
        <div class="col-md-3">fdas</div>
    </div>
</div>
