<div class="page-main">
  <header class="top-header">
    <h2>易·笔记</h2>
  </header>
  <div class="main-container">
    <div class="left-sidebar">
      <div class="file-tree-toggle">
        <i class="fa fa-chevron-left"></i>
      </div>
      <div class="drag-line"></div>
      <div>Book List</div>
    </div>
    <div class="right-viewport">
      <div class="note-list">
        <div class="drag-line"></div>
        <div>
          Note List
        </div>
      </div>
      <div class="note-detail">
        内容
      </div>
    </div>
  </div>
</div>